/* Init */

:root{
    --blue: #224870;
    --dark: #122C34;
    --pink: #F9B9F2;
    --green: #CEF7A0;
    --white: #F3F3F3;
    --lightBlue: #A9EDF9;
    --fontMain: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontMain);
}

body{
    text-align: center;
    background: var(--white);
}
/* Navbar */

nav{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    margin: auto;
}

nav ul li{
    list-style: none;
    border-radius: 50vw;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    padding: .5vh;
}

nav ul li a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

}

li.index{
    background: var(--pink);
}

li.catalog{
    background: var(--lightBlue);
}

li.community{
    background: var(--green);
}

nav ul li img{
    width: 25px;
}

nav ul li img.account{
    width: 37px;
}

nav > img{
    display: none;
}

.imgContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    overflow: hidden;
}

img{
    width: 40vw;
    aspect-ratio: 1;
    object-fit: cover;
}

/* Page de login */

main.login{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}

.login input{
    padding: 22px 10px;
    font-family: var(--fontMain);
    font-size: 22px;
    width: 80%;
    border-radius: 12px;
    border: 2px solid var(--blue);
}

.password{
    position: relative;
}

.logo{
    font-size: 87px;
    font-weight: bold;
    font-family: var(--fontMain);
    color: var(--blue);
    transform: rotate(-9deg);
    position: absolute;
    top: -57px;

}

#checkbox-true{
    display: none;
}

#showPasswordCheckbox{
    width: 30px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 10;
}

#showPasswordCheckbox:checked ~ #checkbox-true{
    display: inline-block;
}

#showPasswordCheckbox:checked ~ #checkbox-false{
    display: none;
}

.eyeIcon{
    width: 30px;
    object-fit: unset;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

.login input[type=submit]{
    background: var(--blue);
    border: none;
    width: 60%;
    font-size: 18px;
    color: var(--white);
}

.login .modal{
    border-radius: 17px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    /* overflow: hidden; */
    width: 80vw;
    max-width: 450px;
    height: 60vh;
    padding: clamp(25px, 5vw, 80px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.register .modal{
    height: 80vh;
}

@media screen and (min-width: 768px){    
    nav{
        left: 0;
        height: 100vh;
        width: 10vw;
        max-width: 140px;
        min-width: 91px;
    }

    nav ul{
        flex-direction: column;
    }
}