/* Init */

:root{
    --blue: #293072;
    --dark: #122C34;
    --pink: #F9B9F2;
    --green: #CEF7A0;
    --white: #F3F3F3;
    --lightBlue: #A9EDF9;
    --fontMain: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontMain);
}
/* Navbar */

.desktop{
    display: none;
}

nav{
    position: fixed;
    bottom: 0;
    background: var(--white);
    width: 100%;
    height: 8vh;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    margin: auto;
}

nav ul li{
    list-style: none;
    border-radius: 50vw;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    padding: .5vh;
}

nav ul li a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

}

li.index{
    background: var(--pink);
}

li.catalog{
    background: var(--lightBlue);
}

li.community{
    background: var(--green);
}

nav ul li img{
    width: 25px;
}

nav ul li img.account{
    width: 37px;
}

nav > img{
    display: none;
}